* {
  box-sizing: border-box;
}
#pagesWrapper {
  overflow-x: hidden;
  overflow-y: visible;
}
.chances_graph p {
  display: inline;
}
.chances_graph {
  float:left;
}
.peopleviz svg {
    height: 245px;
    float: left;
    width: 200px;
    margin: 0 -1.25em 1.35em -2.15em;
    padding: 0;
}
#off_o2_viz g:nth-child(-n+90){
  fill: green;
}
#rejection_viz g:nth-child(-n+30){
  fill: red;
}
#yr1_kidney_damage_viz g:nth-child(-n+23){
  fill: red;
}
#yr5_kidney_damage_viz g:nth-child(-n+55){
  fill: red;
}

/* type scale from
http://type-scale.com/?size=22&scale=1.200&text=A%20Visual%20Type%20Scale&webfont=Gentium%20Book%20Basic&font-family=%27Gentium%20Book%20Basic%27%2C%20serif&font-weight=400&font-family-headers=%22Open%20Sans%22&font-weight-headers=700&background-color=&font-color=%2324272C
*/
body {
  font-size: 1.375em;
  font-family: 'Gentium Book Basic', serif;
  font-weight: 400;
  line-height: 1.45;
  color: #000;
  text-rendering: optimizeLegibility;
}
p {margin-bottom: 1.3em;}
li {
  margin-bottom: 0.75em;
}
h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-family: "Open Sans";
  font-weight: 700;
  line-height: 1.2;
}
h1 {
  margin-top: 0;
  font-size: 2.074em;
}
/*h2 {font-size: 1.728em;}*/
h2 {font-size: 1.44em;}
h3 {font-size: 1.2em;}
small, .font_small {font-size: 0.833em;}
img {
  margin-bottom: 1.3em;
}
.breadcrumb {
  margin-top: 0;
  color: #9B988E;
  margin-bottom: 0.3em;
  font-style: italic;
}
ul {
  padding: 0;
  list-style-position: outside;
}
a {
  color: #2795b6;
}
a:hover {
  color: #15c7d4;
}

.next-page {
  clear:both;
  display: block;
}
.next-page:before {
  content: "→ Click here to ";
}
.backToMain {
  display:block;
  clear:both;
}
.backToMain:before {
  content: "←";
}
.floor {
  padding: 3em 23%;
  background-color: #FCF9F0;
}
/*
.floor:nth-child(n) {
  background-color: #f3f6e8;
}
.floor:nth-child(2n) {
  background-color: #ecf8f8;
}
.floor:nth-child(3n) {
  background-color: #fffbe2;
}
.floor:nth-child(4n) {
  background-color: #fff2e9;
}
.floor:nth-child(5n) {
  background-color: #fff2ff;
}
*/
.floor.wide {
  padding-left: 8%;
  padding-right: 8%;
}
.footer {
  height: 8%;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #122B3E;
}
.progress li {
  display: inline-block;
  background-color: #ddd;
  color: transparent;
  width: 1.2em;
  height: 2.2em;
  border-radius: 0.4em;
  font-size: 11px;
  margin-right: 0.1em;
}
.progress li.selected {
  color: transparent;
  background-color: #db5a23;
}
/*
.prev, .next {
    display: inline-block;
    height: 100%;
    width: 20%;
    line-height: 1.1;
    padding: 0.5em 1em;
    background: #aaa;
    font-size: 0.95em;
}
.prev, .progress, .next {
  float: left;

.progress {
    width: 60%;
}*/
.progress {
  margin-top: 0.6%;
  padding-left: 1em;
}
/* two column layout */
.medical, .transplant {
    width: 49%;
    display: inline-block;
    overflow: hidden;
}
.medical {
   padding-right: 5%;
   float: left;
   overflow: visible;
}
.transplant {
   padding-left: 5%;
}

.video p {
  font-size: 0.9em;
  margin-top: 0;
}
.video video{
  width: 100%;
  height: auto;
}
.vidInstructions svg {
    height: 1.6em;
    margin: 0 -1.5em;
    padding-top: 0.1em;
    display: inline-block;
    margin-bottom: -0.4em;
}
.vidInstructions p {
  margin-top: 0;
  font-size: 0.9em;
}
img.arrow-keys {
  width: 50%;
  float: left;
  margin-right: 1em;
}
.vq-response {
  margin-bottom: 4em;
}
.scale-end-explanation {
  display: inline-block;
  width: 22%;
  font-size: 0.85em;
}
.scale-end-explanation span {
  font-size: 1.35em;
  display: block;
  font-weight: bold;
}
.vq-response button {
  font-size: 2em;
  width: 10%;
  height: 3em;
  vertical-align: top;
  margin-top: 0.66em;
  color: #ffffff;
  cursor:pointer;
  text-decoration:none;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
}
.vq-response .vq5 {
  margin-right: 2%;
}
.vq1 {
  -moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
  -webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
  box-shadow:inset 0px 1px 0px 0px #cf866c;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
  background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
  background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
  background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
  background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
  background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
  background-color: #d0451b;
  border:1px solid #942911;
  text-shadow:0px 1px 0px #854629;
}
.vq1:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
  background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
  background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
  background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
  background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
  background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
  background-color:#bc3315;
}
.vq2 {
  background-color: #FF5A36;
}
.vq3 {
  background-color: #FFC736;
}
.vq4 {
  background-color: #1FD37C;
}
.vq5 {
  background-color: #00B15B;
}
.vq-response button:active {
  position:relative;
  top:1px;
}
table.comparison {
  margin-top: 3em;
  border-collapse: collapse;
}
table.comparison td,
table.comparison th {
  width: 50%;
  vertical-align: top;
  padding: 1.35em;
  border: 1px solid #ccc;
}
table.comparison th {
  border-top: 1px solid #ccc;
  padding: 0.35em;
}
table.comparison.transplant-highlight td:first-child,
table.comparison.transplant-highlight th:first-child {
 color: #aaa;
}

/* icon styles */
td.moreControl {
  background-image: url("/img/icons/moreControl");
}
table.comparison td.goOffOxygen {
  background-image: url("/img/icons/oxygenTank/icon_34291.png")
;
  background-repeat: no-repeat;
  background-size: 25%;
  background-position: -3% 41%;
  padding-left: 9%;
}
figure { padding: 0; margin: 0;}
figure.figure-left img {
  width: 50%;
  float: left;
  padding-right: 1em;
  padding-top: 1em;
}