* {
  box-sizing: border-box;
}
svg {
    height: 339px;

    float: right;
    width: 200px;
}
g:nth-child(-n+90){
  fill: green;
}
/*
body {
  font-size: 1.35em;
  line-height: 1.6;
  background: #ccc;
  font-family: "Gentium Book Basic", "Georgia", serif;
  color: ;
} */

/* type scale from
http://type-scale.com/?size=22&scale=1.200&text=A%20Visual%20Type%20Scale&webfont=Gentium%20Book%20Basic&font-family=%27Gentium%20Book%20Basic%27%2C%20serif&font-weight=400&font-family-headers=%22Open%20Sans%22&font-weight-headers=700&background-color=&font-color=%2324272C
*/
body {
  font-size: 1.375em;
  font-family: 'Gentium Book Basic', serif;
  font-weight: 400;
  line-height: 1.45;
  color: #000;
  text-rendering: optimizeLegibility;
}
p, li {margin-bottom: 1.3em;}
h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-family: "Open Sans";
  font-weight: 700;
  line-height: 1.2;
}
h1 {
  margin-top: 0;
  font-size: 2.074em;
}
/*h2 {font-size: 1.728em;}*/
h2 {font-size: 1.44em;}
h3 {font-size: 1.2em;}
small, .font_small {font-size: 0.833em;}
img {
  margin-bottom: 1.3em;
}
.breadcrumb {
  margin-top: 0;
}
ul {
  padding: 0;
  list-style-position: outside;
}
a {
  color: #2795b6;
}
a:hover {
  color: #15c7d4;
}
.next-page:before {
  content: "→";
  text-decoration: none;
}
.floor {
  padding: 3em 23%;
  background-color: #FCF9F0;
}
/*
.floor:nth-child(n) {
  background-color: #f3f6e8;
}
.floor:nth-child(2n) {
  background-color: #ecf8f8;
}
.floor:nth-child(3n) {
  background-color: #fffbe2;
}
.floor:nth-child(4n) {
  background-color: #fff2e9;
}
.floor:nth-child(5n) {
  background-color: #fff2ff;
}
*/
.floor.wide {
  padding-left: 8%;
  padding-right: 8%;
}
.footer {
  height: 8%;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #122B3E;
}
.progress li {
  display: inline-block;
  background-color: #ddd;
  color: transparent;
  width: 1.5em;
  height: 2.427em;
  border-radius: 0.4em;
  font-size: 11px;
  margin-right: 0.1em;
}
.progress li.selected {
  color: transparent;
  background-color: #db5a23;
}
/*
.prev, .next {
    display: inline-block;
    height: 100%;
    width: 20%;
    line-height: 1.1;
    padding: 0.5em 1em;
    background: #aaa;
    font-size: 0.95em;
}
.prev, .progress, .next {
  float: left;

.progress {
    width: 60%;
}*/
.progress {
  margin-top: 0.6%;
  padding-left: 1em;
}
/* two column layout */
.medical, .transplant {
    width: 49%;
    display: inline-block;
    overflow: hidden;
}
.medical {
   padding-right: 5%;
   float: left;
   overflow: visible;
}
.transplant {
   padding-left: 5%;
}
.video p {
  font-size: 0.9em;
  margin-top: 0;
}
.video video{
  width: 100%;
  height: auto;
}