* {
  box-sizing: border-box;
}

.clear{
  clear: both;
}

#pagesWrapper {
  overflow-x: hidden;
  overflow-y: visible;
}

.chance img{
  display: inline-block;
  float: left;
  width: 20%;
  margin-right: 20px;
}

.chance .chances{
  float: left;
  width: 66%;
}

.chances_graph p {
  display: inline;
}
.chances_graph {
  float:left;
}
.peopleviz svg {
    height: 245px;
    float: left;
    width: 200px;
    margin: 0 -1.25em 1.35em -2.15em;
    padding: 0;
}
/*Lung Transplant Chances */
#off_o2_viz g:nth-child(-n+90){
  fill: green;
}
#around_more g:nth-child(-n+92){
  fill: green;
}
#independent_drive g:nth-child(-n+83){
  fill: green;
}
#keep_up g:nth-child(-n+86){
  fill: green;
}
#travel g:nth-child(-n+67){
  fill: green;
}
#stressfulTX g:nth-child(-n+97){
  fill: red;
}
#no_lungs g:nth-child(-n+28){
  fill: red;
}
#hallucinations g:nth-child(-n+74){
  fill: red;
}
#ventilator g:nth-child(-n+10){
  fill: red;
}
#feeding_tube g:nth-child(-n+67){
  fill: red;
}
#hospital_stay g:nth-child(-n+16){
  fill: red;
}
#rejection_viz g:nth-child(-n+30){
  fill: red;
}
#yr1_kidney_damage_viz g:nth-child(-n+23){
  fill: red;
}
#yr5_kidney_damage_viz g:nth-child(-n+55){
  fill: red;
}
/*Medical Treatment Chances */
#control g:nth-child(-n+23){
  fill: green;
}
#easy_on_caregivers g:nth-child(-n+94){
  fill: green;
}
#short_of_breath g:nth-child(-n+78){
  fill: red;
}
#need_o2 g:nth-child(-n+74){
  fill: red;
}
#not_fot_everyone g:nth-child(-n+63){
  fill: red;
}
#other_med g:nth-child(-n+82){
  fill: red;
}
#lim_indep g:nth-child(-n+80){
  fill: red;
}

/* type scale from
http://type-scale.com/?size=22&scale=1.200&text=A%20Visual%20Type%20Scale&webfont=Gentium%20Book%20Basic&font-family=%27Gentium%20Book%20Basic%27%2C%20serif&font-weight=400&font-family-headers=%22Open%20Sans%22&font-weight-headers=700&background-color=&font-color=%2324272C
*/
body {
  font-size: 1.375em;
  font-family: 'Gentium Book Basic', serif;
  font-weight: 400;
  line-height: 1.45;
  color: #000;
  text-rendering: optimizeLegibility;
}
p {
  font-size: 1em;
}
li {
  margin-bottom: 0.75em;
}
h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 1.2;
}
h1 {
  margin-top: 0;
  font-size: 1.455em;
}
/*h2 {font-size: 1.728em;}*/
h2 {font-size: 1.5em;}
h3 {font-size: 1.2em;}
small, .font_small {font-size: 0.833em;}
img {
  margin-bottom: 1.3em;
}
.breadcrumb {
  margin-top: 0;
  color: #9B988E;
  margin-bottom: 0.3em;
  font-style: italic;
}
p.breadcrumb:before {
  content: "COPD Treatment Decision Aid: ";
  color: #B8B4A7;
}
ul {
  padding: 0;
  list-style-position: outside;
}
a {
  color: #2795b6;
}
a:hover {
  color: #15c7d4;
}

.backToMain {
  display:block;
  clear:both;
}
.backToMain:before {
  content: "←";
}

.floor {
  padding: 2.5% 5% 7.5% 5%;
  background-color: #FCF9DF;
}

h1, h2, h3 {
  max-width: 60%;
}
p, ul, ol {
  width: 100%;
  max-width: 60%;
}

.video{
  position: relative;
  padding-bottom: 35.25%;
  padding-top: 30px; height: 0; overflow: hidden;
  max-width: 60%;
}
.video iframe {
  position: absolute;
  top: 0;
  height: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

audio{
  width: 100%;
  max-width: 60%;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #122B3E;
  padding: 8px;
}

ul.progress{
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  max-width: none;
}

.progress li {
  float: left;
  background-color: #3B5466;
  color: transparent;
  padding: 4px 0;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  font-size: 8px;
  margin-right: 2px;
  margin-bottom: 2px;
  margin-top: 0;
}

.progress li:hover{
  cursor: pointer;
  background-color: #4a6980;
}

.progress li.selected {
  color: transparent;
  background-color: #db5a23;
  opacity: 1;
}
div.pageFooter {
    width: 100%;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    margin-top: 8em;
    clear: both;
}
.pageFooter a {
    display: inline-block;
    width: 50%;
    padding: 1em;
    color: #db5a23;
    float: left;
}
.pageFooter a:hover {
  background-color: #15c7d4;
  color: #3B5466;
  transition: all 0.2s linear;
}
.pageFooter a:active {
  background-color: #2795b6;
  transition: all 0.05s linear;
}
.pageFooter a.next {
    text-align: right;
    border-left: 1px solid #aaa;
}

/* two column layout */
.medical, .transplant {
    width: 49%;
    display: inline-block;
    overflow: hidden;
}
.medical {
   padding-right: 5%;
   float: left;
   overflow: visible;
}
.transplant {
   padding-left: 5%;
}

.video p {
  font-size: 0.9em;
  margin-top: 0;
}
.video video{
  width: 100%;
  height: auto;
}
.vidInstructions svg {
    height: 1.6em;
    margin: 0 -1.5em;
    padding-top: 0.1em;
    display: inline-block;
    margin-bottom: -0.4em;
}
.vidInstructions p {
  margin-top: 0;
  font-size: 0.9em;
}
.vq-response {
  margin-bottom: 4em;
}
.scale-end-explanation {
  display: inline-block;
  width: 22%;
  font-size: 0.85em;
}
.scale-end-explanation span {
  font-size: 1.35em;
  display: block;
  font-weight: bold;
}
.vq-response button {
  font-size: 2em;
  width: 10%;
  height: 3em;
  vertical-align: top;
  margin-top: 0.66em;
  color: #ffffff;
  cursor:pointer;
  text-decoration:none;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
}
.vq-response .vq5 {
  margin-right: 2%;
}
.vq1 {
  -moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
  -webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
  box-shadow:inset 0px 1px 0px 0px #cf866c;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
  background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
  background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
  background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
  background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
  background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
  background-color: #d0451b;
  border:1px solid #942911;
  text-shadow:0px 1px 0px #854629;
}
.vq1:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
  background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
  background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
  background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
  background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
  background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
  background-color:#bc3315;
}
.vq2 {
  background-color: #FF5A36;
}
.vq3 {
  background-color: #FFC736;
}
.vq4 {
  background-color: #1FD37C;
}
.vq5 {
  background-color: #00B15B;
}
.vq-response button:active {
  position:relative;
  top:1px;
}
table.comparison {
  margin-top: 3em;
  border-collapse: collapse;
}
table.comparison td,
table.comparison th {
  width: 50%;
  vertical-align: top;
  padding: 1.35em;
  border: 1px solid #ccc;
}
table.comparison th {
  border-top: 1px solid #ccc;
  padding: 0.35em;
}
table.comparison.transplant-highlight td:first-child,
table.comparison.transplant-highlight th:first-child {
 color: #aaa;
}

/* icon styles */
table.comparison td {
  background-repeat: no-repeat;
  background-position-x: 3%;
  background-position-y: 40%;
  padding-left: 8%;
  background-size: 10%;
}
.goOffOxygen {
  background-image: url("../img/icons/walking/walking.png");
}
.moreControl {
  background-image: url("../img/icons/gears/gears.png");
}
.lessExpensive {
  background-image: url("../img/icons/wallet/icon_22910.png");
}
.medicinesBetter {
  background-image: url("../img/icons/medicine1/icon_7401.png");
}
.easierForCaregivers {
  background-image: url("../img/icons/heartHome/icon_34196.png");
}
.keepUpFamily {
  background-image: url("../img/icons/kidOnShoulders/kidOnShoulders.png");
}
.moreIndependent {
  background-image: url("../img/icons/driving/driving.png");
}
.moreMobile {
  background-image: url("../img/icons/keepUp/keepup.png");
}
h3.icon {
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 0.8em;
  padding-left: 2.66em;
}
figure {
  padding: 0;
  margin: 0;
  float: right;
  width: 40%;
  margin-left: 5%;
}
figure img {
  max-width: 100%;
}

.keepScrolling{
  height: 64px;
  width: 64px;
  position: fixed;
  bottom: 64px;
  right: 64px;
  background: #ff0000;
}

.fontSizeAdjuster{
  position: fixed;
  top: 32px;
  right: 20%;
  height: 32px;
  width: 64px;
  text-align: center;
  border-radius: 4px;
  font-size: 0.727em;
}

.fontSizeAdjuster a{
  width: 50%;
  float: left;
  line-height: 16px;
  vertical-align: baseline;
  background: #fff;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  text-decoration: none;
  color: #666;
}

.fontSizeAdjuster a.fontSmaller{
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-left: 1px solid #ccc;
  padding: 10px 0 4px 0;
}

.fontSizeAdjuster a.fontBigger{
  font-size: 1.5em;
  border-left: 1px solid #ccc;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-right: 1px solid #ccc;
  padding: 7px 0;
}

.fontSizeAdjuster a:hover{
  background: #f6f6f6;
}

.fontSizeAdjuster a:active{
  background: #eee;
}

.floor::-webkit-scrollbar {
    width: 24px;
}

.floor::-webkit-scrollbar-track {
    background: #e2e0c8;
}

.floor::-webkit-scrollbar-thumb {
    background: #b5b3a0;
}

.floor::-webkit-scrollbar-thumb:hover {
    background: #cbc9b4;
}

@media screen and (max-width : 1024px) {
  body {
    font-size: 1.5em;
  }
  .floor {
    padding: 2.5em 10%;
  }

  .fontSizeAdjuster{
    left: 1%;
  }

  .progress li {
    width: 10px;
    height: 10px;
  }
}
@media screen and (max-width : 768px) {
  body {
    font-size: 1.5em;
  }
  .floor {
    padding: 2.5em 5%;
  }
  .progress li {
    width: 8px;
    height: 8px;
  }
}